<!-- <h3>Are you sure you want to delete"{{item}}"?</h3>

<form method="POST" action="">
    {%csrf_token%}
    <input type="submit" name='confirm'>
</form>

<a href="{% url 'list' %}">Cancel</a> -->


<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-ico" href="/static/image/logo.jpg"/>
    <title>Delete Nodepad</title>
</head>
<style>
    body {
        background-color: #638cB8;
    }

    h1,
    h2,
    h3 {
        color: lightseagreen;
        text-align: center;
    }

    .submit {
        background-color: #6ba3e8;
    }

    .center-column {
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
    }

    .btnn {
        width: 600px;
        text-align: center;
    }
</style>

<body>
    <div class="center-column">
        <h3>Are you sure you want to delete"{{item}}"?</h3>
        <div class="btnn">
            <form method="POST" action="">
                {%csrf_token%}
                <input class="btn btn-danger" type="submit" name='confirm' value="删除">
                <a class="btn btn-info" href="{% url 'list' %}">取消</a>
            </form>
        </div>
    </div>
</body>

</html>